.App {
  text-align: center;
}

.title-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 360px;
  height: 120px;
  margin: 80px auto;
  background: rgba(249, 255, 255, 0.1);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(6.4px);
  border: 1px solid rgba(0, 255, 245, 0.24);
}

.App .title {
  color: rgb(255, 255, 255);
  text-shadow: 0 0 6px #00fff5;
}

.body-container {
  width: 800px;
  height: 600px;
  margin: auto;
  background: rgba(249, 255, 255, 0.1);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(6.4px);
  border: 1px solid rgba(0, 255, 245, 0.24);
}
